p.h2 {
    color: rgb(236, 123, 170);
    font-size: 2.4rem;

    text-align: center;
}

.tool {
    margin: 5rem 20vw 4rem 20vw;
}

form>label{
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

form>input{
    margin-top: 0.7rem ;
    margin-bottom: 0.7rem;
}
.submit {
    background-color: rgb(32, 206, 32);
    margin-top: 1.2rem;
}

.message {
    /*
    display: none; */
    visibility: hidden;
    margin-top: 5rem;

}

.code-block {
    border: solid 2px red;
    text-align: left;

    background-color: rgb(70, 62, 62);
}

code {
    /* width: 60vw;*/
    width: fit-content;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    color: lightgreen;

    

}

.copy-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}